<div class="header mt-md-5">
  <div class="header-body">
    <h1 class="header-title">New Unit Trust</h1>
  </div>
</div>

<%= render 'form', unit_trust: @unit_trust %>

<%= link_to 'Back', unit_trusts_path %>
