<div class="header mt-md-5">
  <div class="header-body">

    <!-- Pretitle -->
    <h6 class="header-pretitle">
      Sobre este sitio
    </h6>

    <!-- Title -->
    <h1 class="header-title">
      About
    </h1>

  </div>
</div>

<script async src="https://comments.app/js/widget.js?2" data-comments-app-website="KDS6Lz-O" data-limit="5"></script>

<p><%= link_to 'Volver a la home ðŸ ', "/" %></p>
