<div class="header mt-md-5">
  <div class="header-body">

    <!-- Pretitle -->
    <h6 class="header-pretitle">
      Yo te dije
    </h6>

    <!-- Title -->
    <h1 class="header-title">
      Disclaimer (aka #PUEDEFALLAR)
    </h1>

  </div>
</div>

<%= image_tag("disclaimer.gif") %>

<p class="mt-4"><i>"Esto es un proyecto personal, no trabajo para Santander y todo esto puede fallar."</i></p>
<p>Nadie debería invertir en un Fondo Común de Inversión sin antes:</p>
<ol>
  <li>Entender cómo funciona un FCI.</li>
  <li>Entender que hay riesgos, como en todas las inversiones.</li>
  <li>Entender que esta herramienta puede fallar (la hice en un fin de semana for god's sake).</li>
  <li>Entender que no estoy recomendando hacer estas inversiones.</li>
  <li>Entender que los retornos históricos no garantizan rendimientos futuros.</li>
  <li>Ya sos grande Roberto, no me hagas responsable por tus malas decisiones.</li>
  <li>Ver "Community" y "Rick & Morty", son 2 series increíbles.</li>
</ol>

<p><%= link_to 'Volver a la home 🏠', "/" %></p>
