<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Santander</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0-alpha"></script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/dashkit/assets/fonts/feather/feather.css" />
    <link rel="stylesheet" href="/dashkit/assets/libs/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="/dashkit/assets/libs/quill/dist/quill.core.css" />
    <link rel="stylesheet" href="/dashkit/assets/libs/highlightjs/styles/vs2015.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/dashkit/assets/css/theme.min.css">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="main-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <!-- Libs JS -->
    <script src="/dashkit/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/dashkit/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/dashkit/assets/libs/@shopify/draggable/lib/es5/draggable.bundle.legacy.js"></script>
    <script src="/dashkit/assets/libs/autosize/dist/autosize.min.js"></script>
    <!-- <script src="/dashkit/assets/libs/chart.js/dist/Chart.min.js"></script> -->
    <script src="/dashkit/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="/dashkit/assets/libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="/dashkit/assets/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="/dashkit/assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="/dashkit/assets/libs/list.js/dist/list.min.js"></script>
    <script src="/dashkit/assets/libs/quill/dist/quill.min.js"></script>
    <script src="/dashkit/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <!-- <script src="/dashkit/assets/libs/chart.js/Chart.extension.js"></script> -->

    <!-- Theme JS -->
    <script src="/dashkit/assets/js/theme.min.js"></script>
    <script src="/dashkit/assets/js/dashkit.min.js"></script>
  </body>
</html>
